name: Eco-CI Demo Pipeline

on:
  workflow_dispatch:

env:
  NODE_VERSION: '24' # LTS until 2027

jobs:
  eco-ci-job:
    name: Eco-CI Job
    runs-on: ubuntu-latest
    steps:
      - name: Eco-CI Initialization
        uses: green-coding-berlin/eco-ci-energy-estimation@main
        with:
          task: start-measurement

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Eco-CI Measurement
        uses: green-coding-berlin/eco-ci-energy-estimation@main
        with:
          task: get-measurement

      - name: Eco-CI Results
        uses: green-coding-berlin/eco-ci-energy-estimation@main
        with:
          task: display-results
