name: Eco-CI Demo Pipeline

on:
  workflow_dispatch:

env:
  NODE_VERSION: '24' # LTS until 2027

jobs:
  eco-ci-job:
    name: Eco-CI Job
    runs-on: ubuntu-latest
    steps:
      - name: Eco-CI Initialization
        uses: green-coding-berlin/eco-ci-energy-estimation@v5
        with:
          task: start-measurement

      - name: Eco-CI Measurement (1)
        uses: green-coding-berlin/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'idle'

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Eco-CI Measurement (2)
        uses: green-coding-berlin/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'repo checkout'

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install

      - name: Eco-CI Measurement (3)
        uses: green-coding-berlin/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'node setup'

      - name: Eco-CI Results
        uses: green-coding-berlin/eco-ci-energy-estimation@v5
        with:
          task: display-results
