name: Reusable Service CI Pipeline

on:
  workflow_call:
    inputs:
      service:
        description: 'Service Package Name'
        required: true
        type: string

env:
  NODE_VERSION: '24' # LTS until 2027

jobs:
  build:
    name: Build Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install

      - name: Build
        working-directory: ./packages/${{ inputs.service }}
        run: npm run build

  test:
    name: Test Job
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install

      - name: Run tests
        working-directory: ./packages/${{ inputs.service }}
        run: npm run test

  lint:
    name: Lint Job
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install

      - name: Run tests
        working-directory: ./packages/${{ inputs.service }}
        run: npm run lint

  deploy:
    name: Deploy Job
    runs-on: ubuntu-latest
    needs:
      - test
      - lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install

      - name: Deploy
        working-directory: ./packages/${{ inputs.service }}
        run: npm run deploy
